.video-container {
    transition: transform 0.3s ease, width 0.3s ease;
    width: 80%;
    margin: 0 auto;
}

.carousel-item.active .video-container {
    transform: scale(1.2);
    width: 100%;
    z-index: 10;
}

.carousel-item {
    text-align: center;
}

.carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}